﻿@using UniversityManagementSystem.Models

@{
    List<Student> students = ViewBag.Students;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p style="color: blue">@ViewBag.Msg</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="col-md-2 control-label">Student Reg. No.</label>
            <div class="col-md-10">
                <select class="form-control" id="StudentId" name="StudentId">
                    <option value="-1">--Select--</option>
                    @if (students != null)
                    {
                        foreach (Student VARIABLE in students)
                        {
                            <option value="@VARIABLE.Id">@VARIABLE.RegistrationNo</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input type="text" disabled class="form-control" id="StudentName" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="text" disabled class="form-control" id="Email" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Department</label>
            <div class="col-md-10">
                <input type="text" disabled class="form-control" id="Department" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Select Course</label>
            <div class="col-md-10">
                <select class="form-control" id="courseId" name="courseId">
                    <option value="-1">--Select--</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Select Grade Letter</label>
            <div class="col-md-10">
                <select class="form-control" id="grade" name="grade">
                    <option value="-1">--Select--</option>
                    <option value="A+">A+</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="D-">D-</option>
                    <option value="F">F</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function () {
            //debugger;

            $("#StudentId").change(function () {

                var studentId = $("#StudentId").val();
                $("#courseId").empty();
                $("#courseId").append('<option value="-1">--Select--</option>');
                $("#StudentName").val("");
                $("#Email").val("");
                $("#Department").val("");
                $("#grade").val("--Select--");
                var student = { StudentId: studentId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentById", "CourseEnroll")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(student),
                    success: function(data) {
                        $("#StudentName").val(data.Name);
                        $("#Email").val(data.Email);
                        $("#Department").val(data.DepartmentName.Name);
                    }
                });
                var courses = { StudentId: studentId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetEnrollledCourseByStudentId", "CourseEnroll")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(courses),
                    success: function(data) {
                        $.each(data, function(key, value) {
                            $("#courseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');
                        });
                    }
                });
            });
        });
    </script>
}