﻿@using UniversityManagementSystem.Models
@model IEnumerable<UniversityManagementSystem.Models.CourseEnrollViewModel>

@{
    List<Student> students = ViewBag.Students;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Student Result</h2>
<hr />
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Student Reg. No.</label>
        <div class="col-md-10">
            <select class="form-control" id="StudentId" name="StudentId">
                <option value="-1">--Select--</option>
                @if (students != null)
            {
                foreach (Student VARIABLE in students)
                {
                        <option value="@VARIABLE.Id">@VARIABLE.RegistrationNo</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
            <input type="text" disabled class="form-control" id="StudentName" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input type="text" disabled class="form-control" id="Email" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Department</label>
        <div class="col-md-10">
            <input type="text" disabled class="form-control" id="Department" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" disabled id="pdfBtn" value="Make PDF" class="btn btn-default form-control"
                   onclick="location.href='@Url.Action("CreatePdf","CourseEnroll")?studentId=' + $('#StudentId').val()" />
        </div>
    </div>

</div>

<table class="table" id="dataTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>
</table>


@section scripts
{
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#StudentId").change(function() {

                var studentId = $("#StudentId").val();
                if (studentId === "-1") {
                    document.getElementById("pdfBtn").disabled = true;
                } else {
                    document.getElementById("pdfBtn").disabled = false;
                }
                $("#StudentName").val("");
                $("#Email").val("");
                $("#Department").val("");
                var student = { StudentId: studentId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentById", "CourseEnroll")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(student),
                    success: function(data) {
                        $("#StudentName").val(data.Name);
                        $("#Email").val(data.Email);
                        $("#Department").val(data.DepartmentName.Name);
                    }
                });
                var myTable = document.getElementById("dataTable");
                var rowCount = myTable.rows.length;
                while (--rowCount) myTable.deleteRow(rowCount);
                var json = { StudentId: studentId };
                $.ajax({
                    type: "POST",
                    url: 'GetResultById/' + studentId,
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $.each(data, function(key, value) {
                            var table = document.getElementById("dataTable");
                            var row = table.insertRow(key + 1);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            cell1.innerHTML = value.Code;
                            cell2.innerHTML = value.CourseName;
                            cell3.innerHTML = value.Grade;
                        });
                    }
                });
            });
        })
    </script>
}
