﻿@{
    bool show = User.IsInRole("Teacher");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BUBT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BUBT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (show)
                            {
                                <li>@Html.ActionLink("Save Department", "Index", "Department")</li>
                            }
                            <li>@Html.ActionLink("View Departments", "ViewDepartments", "Department")</li>
                        </ul>
                        @if (User.IsInRole("Teacher"))
                        {
                        <li>@Html.ActionLink("Save Teacher", "SaveTeacher", "Teacher")</li>
                        }

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Course<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Teacher"))
                                {
                                    <li>@Html.ActionLink("Save Course", "SaveCourse", "Course")</li>
                                    <li>@Html.ActionLink("Course Assign", "Index", "CourseTeacher")</li>
                                    <li>@Html.ActionLink("Unassign All Courses", "UnassignCourses", "CourseTeacher")</li>
                                }
                                <li>@Html.ActionLink("Course Statics", "ViewStatic", "CourseTeacher")</li>
                            </ul>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Teacher"))
                                {
                                <li>@Html.ActionLink("Register Student", "Index", "Student")</li>
                                <li>@Html.ActionLink("Enroll Course", "Index", "CourseEnroll")</li>
                                <li>@Html.ActionLink("Save Student Result", "SaveStudentResult", "CourseEnroll")</li>
                                }
                                <li>@Html.ActionLink("View Student Result", "ViewStudentResult", "CourseEnroll")</li>
                            </ul>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Classrooms<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Teacher"))
                                {
                                    <li>@Html.ActionLink("Allocate Classrooms", "Index", "Classroom")</li>
                                    <li>@Html.ActionLink("Unallocate Classrooms", "UnallocateRooms", "Classroom")</li>
                                }
                                <li>@Html.ActionLink("View Class Schedule", "ViewClassSchedule", "Classroom")</li>
                            </ul>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - BUBT</p>
            </footer>
        </div>
        <script src="~/Scripts/jquery-1.12.4.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </body>
</html>
