﻿@using UniversityManagementSystem.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Department> departments = ViewBag.Departments;
    List<Schedule> rooms = ViewBag.Rooms;
}

<h2>Allocate Classroom</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p style="color: blue">@ViewBag.Msg</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-2 control-label">Department</label>
            <div class="col-md-10">
                <select class="form-control" id="deptId">
                    <option value="-1">--Select--</option>
                    @if (departments != null)
                    {
                        foreach (Department VARIABLE in departments)
                        {
                            <option value="@VARIABLE.Id">@VARIABLE.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Course</label>
            <div class="col-md-10">
                <select class="form-control" id="courseId" name="courseId">
                    <option value="-1">--Select--</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Room No.</label>
            <div class="col-md-10">
                <select class="form-control" id="roomId" name="roomId">
                    <option value="-1">--Select--</option>
                    @if (departments != null)
                    {
                        foreach (Schedule VARIABLE in rooms)
                        {
                            <option value="@VARIABLE.RoomId">@VARIABLE.RoomNo</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Day</label>
            <div class="col-md-10">
                <select class="form-control" id="day" name="day">
                    <option value="-1">--Select--</option>
                    <option value="Sat">Sat</option>
                    <option value="Sun">Sun</option>
                    <option value="Mon">Mon</option>
                    <option value="Tue">Tue</option>
                    <option value="Wed">Wed</option>
                    <option value="Thu">Thu</option>
                    <option value="Fri">Fri</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">From</label>
            <div class="col-md-10">
                <input type="number" min="1" max="12" id="fromTimehr" name="fromTimehr" style="width: 9%"/> :
                <input type="number" min="0" max="59" id="fromTimemn" name="fromTimemn" style="width: 9%;"/>
                <input type="radio" name="fromampm" value="AM"> AM
                <input type="radio" name="fromampm" value="PM"> PM
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">To</label>
            <div class="col-md-10">
                <input type="number" min="1" max="12" id="toTimehr" name="toTimehr" style="width: 9%" /> :
                <input type="number" min="0" max="59" id="toTimemn" name="toTimemn" style="width: 9%;" />
                <input type="radio" name="toampm" value="AM"> AM
                <input type="radio" name="toampm" value="PM"> PM
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Allocate" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#deptId").change(function() {

                var dept = $("#deptId").val();
                $("#courseId").empty();
                $("#courseId").append('<option value="-1">--Select--</option>');
                var courses = { deptId: dept };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseByDept", "Classroom")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(courses),
                    success: function(data) {
                        //alert(data);
                        $.each(data, function(key, value) {
                            //alert(key);
                            $("#courseId").append('<option value=' + value.Id + '>' + value.Code + '</option>');
                        });
                    }
                });
            });
        });
    </script>
}