﻿@using UniversityManagementSystem.Models

@{
    List<Department> departments = ViewBag.Departments;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Class Schedule & Room Allocation Information</h2>
<br/>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Department</label>
            <div class="col-md-10">
                <select class="form-control" name="departmentId" id="departmentId">
                    <option value="-1">--Select--</option>
                    @if (departments != null)
                    {
                        foreach (Department VARIABLE in departments)
                        {
                            <option value="@VARIABLE.Id">@VARIABLE.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    
    <table class="table" id="dataTable">
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Schedule Info
            </th>
        </tr>

    </table>
}

@section scripts
{
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#departmentId").change(function() {
                var deptId = $("#departmentId").val();
                //$("tbody#dataTable tr").remove();
                var myTable = document.getElementById("dataTable");
                var rowCount = myTable.rows.length;
                while (--rowCount) myTable.deleteRow(rowCount);
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",
                    url: 'GetScheduleByDept/'+deptId,//'@Url.Action("GetStaticByDept","CourseTeacher")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $.each(data, function(key, value) {
                            var table = document.getElementById("dataTable");
                            var row = table.insertRow(key+1);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            cell1.innerHTML = value.CourseCode;
                            cell2.innerHTML = value.CourseName;
                            cell3.innerHTML = value.ScheduleInfo;
                        });
                    }
                });
            });
        })
    </script>
}
