﻿@using UniversityManagementSystem.Models

@{
    List<Department> departments = ViewBag.Departments;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course Assign to Teacher</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p style="color: blue">@ViewBag.Msg</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-2 control-label">Department</label>
            <div class="col-md-10">
                <select class="form-control" id="deptId">
                    <option value="-1">--Select--</option>
                    @if (departments != null)
                    {
                        foreach (Department VARIABLE in departments)
                        {
                            <option value="@VARIABLE.Id">@VARIABLE.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Teacher</label>
            <div class="col-md-10">
                <select class="form-control" id="teacherId" name="teacherId">
                    <option value="-1">--Select--</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Credit to be taken</label>
            <div class="col-md-10">
                <input type="text" disabled class="form-control" id="creditToBeTaken"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Remaining credit</label>
            <div class="col-md-10">
                <input type="text" disabled class="form-control" id="remainingCredit"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Course Code</label>
            <div class="col-md-10">
                <select class="form-control" id="courseId" name="courseId">
                    <option value="-1">--Select--</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input type="text" disabled class="form-control" id="courseName"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Credit</label>
            <div class="col-md-10">
                <input type="text" disabled class="form-control" id="courseCredit"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submitBtn" value="Assign" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#deptId").change(function() {

                var dept = $("#deptId").val();
                $("#teacherId").empty();
                $("#teacherId").append('<option value="-1">--Select--</option>');
                $("#courseId").empty();
                $("#courseId").append('<option value="-1">--Select--</option>');
                $("#creditToBeTaken").val("");
                $("#remainingCredit").val("");
                $("#courseName").val("");
                $("#courseCredit").val("");
                var teachers = { deptId: dept };
                var courses = { deptId: dept };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetTeacherByDept", "CourseTeacher")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(teachers),
                    success: function(data) {
                        //alert(data);
                        $.each(data, function(key, value) {
                            //alert(key);
                            $("#teacherId").append('<option value=' + value.Id + '>' + value.Name + '</option>');
                        });
                    }
                });

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseByDept", "CourseTeacher")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(courses),
                    success: function(data) {
                        $.each(data, function(key, value) {
                            $("#courseId").append('<option value=' + value.Id + '>' + value.Code + '</option>');
                        });
                    }
                });
            });

            $("#teacherId").change(function() {

                var tId = $("#teacherId").val();
                var teacher = { teacherId: tId };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetTeacherById", "CourseTeacher")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(teacher),
                    success: function (data) {
                        $("#creditToBeTaken").val(data.CreditToBeTaken);
                        $("#remainingCredit").val(data.CreditToBeTaken - data.CreditTaken);
                    }
                });
            });
            
            $("#courseId").change(function () {

                var cId = $("#courseId").val();
                var course = { courseId: cId };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseById", "CourseTeacher")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(course),
                    success: function (data) {
                        $("#courseName").val(data.Name);
                        $("#courseCredit").val(data.Credit);
                        
                        if(document.getElementById("remainingCredit").value<data.Credit)
                            if (confirm("Are you sure to assign this course?")) {
                                document.getElementById("submitBtn").disabled = false;
                            } else {
                                document.getElementById("submitBtn").disabled = true;
                            }
                    }
                });
            });
        });
    </script>
}