﻿@using UniversityManagementSystem.Models
@model UniversityManagementSystem.Models.Student

@{
    List<Department> departments = ViewBag.Department   ;
    //Layout = null;
}

<h2>Student Registration</h2>

@using (Html.BeginForm()) 
{
    <p style="color: blue">@ViewBag.Msg</p>
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RegistrationDate, new { @class="form-control datePicker" })
                @Html.ValidationMessageFor(model => model.RegistrationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Address, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Address,"", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Department</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DepartmentName.Id, new SelectList(departments, "Id", "Name"),"--Select--", new { @class = "form-control" })
                @*<select class="form-control" name="DepartmentName.Id">
                    <option value="-1">--Select--</option>
                    @if (departments != null)
                    {
                        foreach (Department VARIABLE in departments)
                        {
                            <option value="@VARIABLE.Id">@VARIABLE.Name</option>
                        }
                    }
                </select>*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Intake, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Intake, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Intake, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Section, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts {
@Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $(".datePicker").datepicker({
                dateFormat: 'mm/dd/yy', type: Text
            }).datepicker("setDate", "0");
        });
    });
    </script>
}